{% extends "base.html.twig" %}


{% block body %}

     <div class="container mt-3">
        <h1 class="text-center mb-5">Liste de toutes les tâches</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# Formulaire de filtre #}
        <div class="row justify-content-end mb-2">

            {{ form_start(form) }}
                <div class="row">
                    <div class="col-2">
                        <div class="form-group row">
                            <div class="col-3">
                                {{ form_label(form.ascDate) }}
                             </div>
                            <div class="col-9" id="some-custom-id">
                                {{ form_widget(form.ascDate) }}
                             </div>
                        </div>
                    </div>
                    <div class="col-6">
                         <div class="form-group row">
                            <div class="col-9" id="some-custom-id">
                                {{ form_widget(form.status) }}
                             </div>
                            <div class="col-2" style="margin-left:-20px;">
                                {{ form_label(form.status) }}
                             </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group row">
                            <button class="btn btn-info">Appliquer</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}

        </div>
        <div class="row d-flex">
            {% for task in tasks %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
                    {% include 'task/_card.html.twig' with {task : task } only %}
                </div>
            {% endfor %}
        </div>
        <div class='row my-5'>
            <a href="{{ path('task_new') }}" class="btn btn-primary col-3 offset-8">Ajouter une nouvelle tâche</a>
        </div>

    </div>
{% endblock %}
